@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .header-logo_block {
        width: 100%;
        margin: 0 auto;
    }

    .header-logo {
        margin: 0 11%;
    }

    .container {
        width: 720px;
    }

    .header-wrapper {
        flex-direction: column;
        margin-top: 50px;
    }

    .header_desktop {
        width: 80%;
        height: auto;
        margin: 50px auto;
    }

    .main-wrapper {
        flex-direction: column;
    }

    .main-wrapper__content {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .header-logo {
        margin: 0;
    }

    .container {
        width: 540px;
    }

    .header-wrapper_desktop {
        width: 100%;
        height: auto;
    }

    .header_desktop {
        width: 1000%;
        height: auto;
        margin: 50px auto;
    }
}

@media screen and (max-width: 576px) {
    .header-logo {
        margin: 0;
    }

    .container {
        width: 90%;
    }

    .header-offer,
    .header-offer__intro,
    .order-form {
        width: 100%;
    }
}
